:root {
  --display-display-medium-font-family: "X5 Sans UI", Helvetica;
  --display-display-medium-font-weight: 400;
  --display-display-medium-font-size: 45px;
  --display-display-medium-letter-spacing: 0px;
  --display-display-medium-line-height: 52px;
  --display-display-medium-font-style: normal;
  --label-label-large-font-family: "X5 Sans UI", Helvetica;
  --label-label-large-font-weight: 500;
  --label-label-large-font-size: 14px;
  --label-label-large-letter-spacing: 0px;
  --label-label-large-line-height: 20px;
  --label-label-large-font-style: normal;
  --body-body-extra-large-font-family: "X5 Sans UI", Helvetica;
  --body-body-extra-large-font-weight: 400;
  --body-body-extra-large-font-size: 20px;
  --body-body-extra-large-letter-spacing: 0px;
  --body-body-extra-large-line-height: 24px;
  --body-body-extra-large-font-style: normal;
  --title-title-large-font-family: "X5 Sans UI", Helvetica;
  --title-title-large-font-weight: 500;
  --title-title-large-font-size: 20px;
  --title-title-large-letter-spacing: 0px;
  --title-title-large-line-height: 24px;
  --title-title-large-font-style: normal;
  --body-body-large-font-family: "X5 Sans UI", Helvetica;
  --body-body-large-font-weight: 400;
  --body-body-large-font-size: 16px;
  --body-body-large-letter-spacing: 0px;
  --body-body-large-line-height: 24px;
  --body-body-large-font-style: normal;
  --label-label-medium-font-family: "X5 Sans UI", Helvetica;
  --label-label-medium-font-weight: 500;
  --label-label-medium-font-size: 12px;
  --label-label-medium-letter-spacing: 0px;
  --label-label-medium-line-height: 16px;
  --label-label-medium-font-style: normal;
  --textline-textline-small-font-family: "X5 Sans UI", Helvetica;
  --textline-textline-small-font-weight: 400;
  --textline-textline-small-font-size: 12px;
  --textline-textline-small-letter-spacing: 0px;
  --textline-textline-small-line-height: 12px;
  --textline-textline-small-font-style: normal;
  --headline-headline-small-font-family: "X5 Sans UI", Helvetica;
  --headline-headline-small-font-weight: 500;
  --headline-headline-small-font-size: 24px;
  --headline-headline-small-letter-spacing: 0px;
  --headline-headline-small-line-height: 32px;
  --headline-headline-small-font-style: normal;
  --body-body-small-font-family: "X5 Sans UI", Helvetica;
  --body-body-small-font-weight: 400;
  --body-body-small-font-size: 12px;
  --body-body-small-letter-spacing: 0px;
  --body-body-small-line-height: 16px;
  --body-body-small-font-style: normal;
  --title-title-extra-large-font-family: "X5 Sans UI", Helvetica;
  --title-title-extra-large-font-weight: 500;
  --title-title-extra-large-font-size: 22px;
  --title-title-extra-large-letter-spacing: 0px;
  --title-title-extra-large-line-height: 28px;
  --title-title-extra-large-font-style: normal;
  --body-body-large-compact-font-family: "X5 Sans UI", Helvetica;
  --body-body-large-compact-font-weight: 400;
  --body-body-large-compact-font-size: 16px;
  --body-body-large-compact-letter-spacing: 0px;
  --body-body-large-compact-line-height: 18px;
  --body-body-large-compact-font-style: normal;
  --text-caption-reg-font-family: "X5 Sans UI", Helvetica;
  --text-caption-reg-font-weight: 400;
  --text-caption-reg-font-size: 12px;
  --text-caption-reg-letter-spacing: 0.4000000059604645px;
  --text-caption-reg-line-height: 14px;
  --text-caption-reg-font-style: normal;
  --blob-blur-64: ;
}
