/* Navigation */
.navigation {
  position: absolute;
  top: 32px;
  left: 330px;
  background-color: #25303ccc;
  backdrop-filter: blur(8px) brightness(100%);
  -webkit-backdrop-filter: blur(8px) brightness(100%);
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
  padding: 4px;
  border-radius: 20px;
}

.navigation__item {
  padding: 6px 24px;
  display: inline-flex;
  height: 44px;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 16px;
}

.navigation__item--active {
  background-color: #4e9c1f;
}

.navigation__item--medium {
  padding: 6px 16px;
}

.navigation__item--large {
  padding: 6px 24px 6px 16px;
}

.navigation__item-content {
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.navigation__item-text {
  width: fit-content;
  margin-top: -1px;
  font-family: "X5 Sans UI-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  position: relative;
  letter-spacing: 0;
}
